body {
    background-color: #f9f9fa;
    font: -family 'Arial', sans-serif;
}

h1, h2 {
    color: #003366;
}

header {
    background-color: #ffcc00;
    color: #003366;
}

.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #f9f9fa;
    color: #003366;
}